<%= javascript_pack_tag 'spinner.js' %>
<div class="container">
    <div class="row mt-4">
      <div class="col-12">
        <h1 class="text-center">GitHub Jobs Search</h1>
        <%= form_tag '/search' do %>
          <div class="form-group">
            <%= text_field_tag :query, nil, {class: "form-control", placeholder: "Enter a keyword"} %>
          </div>          
          <%= submit_tag "Search", {class: "btn btn-primary mx-auto d-block", id: "search", role: "status"} %>
          <div id="button">
          </div>
        <% end %>
      </div>
    </div>
</div>