<div class="container">
    <div class="row mt-4">
      <div class="col-12">
        <h1 class="text-center">Job Hunt</h1>
        <p class="text-center">Enter a keyword in the field below</p>
        <%= form_tag '/search' do %>
          <div class="form-group">
            <%= text_field_tag :query, nil, {class: "form-control"} %>
          </div>          
          <%= submit_tag "Search", {class: "btn btn-primary mx-auto d-block", id: "search", role: "status"} %>
          <div id="button">
          </div>
        <% end %>
      </div>
    </div>
</div>